<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_boss_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{329,339},{68,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_boss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{110,88}</string>
                <key>textureRect</key>
                <string>{{329,227},{110,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_boss_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{191,241},{152,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_boss_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{188,172}</string>
                <key>textureRect</key>
                <string>{{1,241},{188,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_boss_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,208}</string>
                <key>spriteSourceSize</key>
                <string>{224,208}</string>
                <key>textureRect</key>
                <string>{{225,1},{224,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_boss_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,222}</string>
                <key>spriteSourceSize</key>
                <string>{238,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_explosion.png</string>
            <key>size</key>
            <string>{434,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b51f9afdc4d44e440d3cbad69c1f92:c0f20a0f1169acea4960ebd617143c99:65409685751b051605e7988422b3abe9$</string>
            <key>textureFileName</key>
            <string>boss_explosion.png</string>
        </dict>
    </dict>
</plist>
