<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_explosion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,65}</string>
                <key>textureRect</key>
                <string>{{112,1},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_explosion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,86}</string>
                <key>textureRect</key>
                <string>{{102,223},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,108}</string>
                <key>spriteSourceSize</key>
                <string>{101,108}</string>
                <key>textureRect</key>
                <string>{{1,113},{101,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{1,223},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1,327},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{95,327},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_explosion_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{104,113},{81,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_explosion.png</string>
            <key>size</key>
            <string>{186,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f02a21eb97ac10f1e21f694a92c1f95:547b91b7383142e6769ff109fa1cb279:2d199f7a928d9ddc051b923854f1f569$</string>
            <key>textureFileName</key>
            <string>ship_explosion.png</string>
        </dict>
    </dict>
</plist>
